
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<h1>Admin Pet View</h1>
<a asp-action="Index" asp-controller="User" asp-area="Admin" style="float:right">Users</a>

<p>Recent changes added paragraph good morning</p>